@use '@/styles/mixins' as *;

.header {
  @include flex-center;

  height: 140px;
  background-color: var(--bg2-color);
  border-bottom: 4px solid var(--accent-color);

  @media (width <= 600px) {
    height: 100px;
  }
}

.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  color: var(--accent-color);
  font-weight: 800;
}

.userBlock {
  @media (width <= 600px) {
    @include flex-center;

    flex-direction: column-reverse;
    gap: 14px;
  }
}

.userName {
  font-weight: 600;
  margin-right: 1rem;
  color: var(--bg-color);

  @media (width <= 600px) {
    margin-right: 0;
    font-size: 0.8rem;
  }
}

.logo {
  color: var(--bg-color);
  text-decoration: none;
  font-size: xx-large;
  font-weight: 700;

  @media (width <= 600px) {
    font-size: 1.5rem;
  }
}

.logoutBtn,
.loginBtn {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 4px;
  background: var(--bg2-color);
  color: var(--bg-color);
  border: 1px solid var(--text-light-color);
  cursor: pointer;
  text-decoration: none;
}

.emptyBlock {
  height: 140px;
}
